doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/img/favicon.png", type="image/png")
    link(rel="stylesheet", href="/css/style.min.css")
    block vars
    title=title
  body
    header
      nav
        section
          div.nav-brand
            h1
              a(href="/") Accueil
        section
          ul
            li #[a(href="/") Matchs]
            li #[a(href="/players") Joueurs]
    main
      block main