@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
  --clr-skyblue: skyblue;
  --clr-black-dark: rgb(34, 34, 34);
  /* Bootstap */
  --bs-primary-rgb: 39, 142, 251;
}

body {
  height: 100vh;
  font-family: 'Source Sans Pro', 'Nunito Sans', Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  margin-bottom: 1em;
}

.pre-line {
  white-space: pre-line;
}