.table {
  overflow: hidden;
  border-collapse: separate;
  border: 1px solid transparent;
  border-spacing: 0;
  border-radius: 8px;

  tbody {
    >tr:not(.hidden) {
      &:nth-of-type(odd) {
        $hue: 249;
        background-color: rgb($hue, $hue, $hue);
      }

      &:nth-of-type(even) {
        background-color: rgb(203, 236, 255);
      }
    }
  }

  th,
  td {
    padding: 0.8em;
  }

  th {
    text-align: start;
    background-color: var(--clr-black-dark);
  }
}